<div class="panel panel-default">
    <div class="panel-body">
        
        <!-- Photo principale de l'annonce -->
        <div class="row">
            <div class="col-md-12">
                <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length >0 %>
            </div>
        </div>
        
        <br>
        
        <!-- Informations principales -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <%= image_tag avatar_url(@annonce.user), class:"img-circle avatar-large" %>
                        <br>
                        <br>
                        <%= @annonce.user.fullname %>
                    </div>
                    <div class="col-md-9">
                        <h4><%= @annonce.name %></h4>
                        <%= @annonce.address %>
                        <div class="row text-center row-space-1">
                            <div class="col-sm-3">
                                <i class="fa fa-home fa-2x"></i>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-users fa-2x"></i>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-bed fa-2x"></i>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-bath fa-2x"></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
              
        </div>
        
        <!-- Description -->
        <div class="row">
            <div class="col-md-12">
                <h2>A propos de ce logement</h2>
                <p><%= @annonce.description %></p>
            </div>
        </div>
        
       
        
    </div>
</div>